body
{
    overflow: hidden;
}
*
{
    margin: 0;
    padding: 0;
    
}
#big-container
{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    
    justify-content:center;
}
#login-container
{
    width: 600px;
    height:500px;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.75);
}
#login-title {
    width:100%;
    text-align: center;
    padding-top: 10px;
}
#login-title h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}